* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Figtree', sans-serif;
    background-color: #242424;
}

header {
    padding: 1rem 3rem; /* 16px = 1rem */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 90vh;
}

h1 {
    color: white;
}

.nav-links {
    display: flex;
    gap: 2rem; /* 32px = 2rem */
    text-decoration: none;
    list-style: none;
}

.link {
    text-decoration: none;
    color: rgb(49, 255, 193);
    /* font-weight: 500; */
}

.link:hover {
    text-decoration: underline;
}

main {
display: flex;
justify-content: center;
align-items: center;
}

main img {
    width: 100%;
}

.hero h1 {
    color: white;
    font-size: 3.5rem; /* 56px = 3.5rem */
    margin-bottom: 1rem; /* 16px = 1rem */
    text-align: center;
}

.hero p {
    color: white;
    font-size: 1.25rem; /* 20px = 1.25rem */
    margin-bottom: 2rem; /* 32px = 2rem */
}

.example {
    width: 100%;
    /* margin: 0 5rem; */
    /* height: 20% !important; */
    border: 1px solid white;
    padding: 2rem;
    background-color: azure;
    border-radius: 0.9rem;
}

.cta-button {
    background-color: rgb(49, 255, 193);
    color: black;
    padding: 0.75rem 1.5rem; 
    border: none;
    border-radius: 0.375rem; 
    font-size: 1rem; 
    cursor: pointer;
    text-decoration: none; 
    transition: all 0.2s ease;
}

.cta-button:hover {
    background-color: rgb(27, 194, 102);
}

.container {
     width: 20%;
    margin: 0 5rem;
    /* height: 20% !important; */
    border: 1px solid rgb(49, 255, 193);;
    padding: 1rem;
    /* background-color: azure; */
    border-radius: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

